@model WE_Project.Models.idea

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idea_id)

    <a href="#" id="thumbsupButton" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fa-thumbs-up"></i>
        </span>
    </a>
    <a href="#" id="thumbsdownButton" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fa-thumbs-down"></i>
        </span>
    </a>

    <div class="form-group">
        @Html.LabelFor(model => model.thumbs_up, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.thumbs_up, new { htmlAttributes = new { @class = "form-control", @id = "thumbsup" } })
            @Html.ValidationMessageFor(model => model.thumbs_up, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.thumbs_down, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.thumbs_down, new { htmlAttributes = new { @class = "form-control", @id = "thumbsdown" } })
            @Html.ValidationMessageFor(model => model.thumbs_down, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.views, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.views, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.views, "", new { @class = "text-danger" })
        </div>
    </div>
}
